.nav.nav-tabs .nav-link.active {
	background-color: #343a40;
	color: white;
	border-color: white;
}
.nav.nav-tabs .nav-link {
	color: white;
	background-color: #3e444a;
	border-color: #343a40;
}
.nav.nav-tabs .nav-link.selected {
	color: white;
}
.nav.nav-tabs .nav-link.disabled {
	color: white;
	background-color: #3e444a;
	border-color: red;
}
